[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "submodules/back"]
	path = submodules/back
	url = https://github.com/jmullan/back
[submodule "submodules/solarized"]
	path = submodules/solarized
	url = https://github.com/altercation/solarized.git
[submodule "submodules/pycharm-solarized"]
	path = submodules/pycharm-solarized
	url = https://gist.github.com/7933924.git
[submodule "submodules/git-helpers"]
	path = submodules/git-helpers
	url = https://github.com/jmullan/git-helpers.git
[submodule "GitFlowAVH"]
	path = submodules/gitflow
	url = https://github.com/petervanderdoes/gitflow-avh.git
[submodule "submodules/ssh-find-agent"]
	path = submodules/ssh-find-agent
	url = https://github.com/wwalker/ssh-find-agent.git
