[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "portable/.emacs.d/themes/emacs-color-theme-solarized"]
	path = portable/.emacs.d/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "submodules/back"]
	path = submodules/back
	url = https://github.com/jmullan/back
[submodule "submodules/solarized"]
	path = submodules/solarized
	url = https://github.com/altercation/solarized.git
[submodule "submodules/pycharm-solarized"]
	path = submodules/pycharm-solarized
	url = https://gist.github.com/7933924.git
[submodule "submodules/git-helpers"]
	path = submodules/git-helpers
	url = git@github.com:jmullan/git-helpers.git
[submodule "GitFlowAVH"]
	path = submodules/gitflow
	url = https://github.com/petervanderdoes/gitflow.git
[submodule "js3-mode"]
	path = submodules/js3-mode
	url = https://github.com/thomblake/js3-mode.git
[submodule "submodules/travis-build"]
	path = submodules/travis-build
	url = https://github.com/travis-ci/travis-build.git
[submodule "submodules/php-mode"]
	path = submodules/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "submodules/lua-mode"]
	path = submodules/lua-mode
	url = https://github.com/immerrr/lua-mode.git
