# correct name <email> wrong name <email>
Jesse Mullan <jmullan@gmail.com> Jesse Mullan <jmullan@visi.com>
Jesse Mullan <jmullan@gmail.com> jmullan <jmullan@visi.com>
Jesse Mullan <jmullan@gmail.com> vagrant <vagrant@precise64.(none)>
Jesse Mullan <jmullan@gmail.com> vagrant <jmullan@visi.com>
