black
isort
pip
pyyaml
requests
python-dateutil
jproperties
jmullan_logging@git+https://github.com/jmullan/jmullan_logging
jmullan_cmd@git+https://github.com/jmullan/jmullan_cmd
jira
rich
colorist
httpx
ruff
