bashlex
black
colorist
emoji
httpx
ipython
isort
jira
jmullan_cmd@git+https://github.com/jmullan/jmullan_cmd
jmullan_logging@git+https://github.com/jmullan/jmullan_logging
jproperties
pip
python-dateutil
pytz
pyyaml
requests
rich
ruff
uv
