bashlex
black
boto3
boto3-stubs[full]
chardet
colorist
cookiecutter
emoji
httpx
icalevents
ics
ipython
isort
jira
jmullan.cmd@git+https://github.com/jmullan/jmullan.cmd
jmullan.logging@git+https://github.com/jmullan/jmullan.logging
jproperties
jsonlines
paramiko
pip
psutil
python-dateutil
python-hcl2
pytz
pyyaml
requests
rich
ruff
uv
