[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[gitflow]
    fetch = 1
    showcommands = 0
[core]
    whitespace = "trailing-space,space-before-tab"
    autocrlf = input
    excludesfile = ~/.gitignore
[apply]
    whitespace = "fix"
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    pr = pull --rebase
    rb = !git fetch origin && git rebase origin/master
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
[rerere]
    enabled = true
[user]
    name = Jesse Mullan
[push]
    default = simple
[gc]
    auto = 0
[merge]
    summary = true
[diff]
    renames = copies
    mnemonicprefix = true
    algorithm = patience
    renameLimit = 2000
[branch]
    autosetupmerge = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[prompt]
    enabled = 1
[filter "black_py"]
    clean = "black -q - "
[filter "black_py.indent"]
    smudge = cat
[includeIf "gitdir:~/"]
    path = .git-local.config
[init]
    defaultBranch = main
[hooks]
    allowunannotated = false
    allowdeletebranch = true
    allowcreatebranch = true
    allowdeletetag = false
    allowmodifytag = false
    allownonascii = false
    allowtimecard = true
